.link-decoration {
  color: white;
  text-decoration: none;
}
.active-breadcrumb {
  color: rgb(233, 209, 28) !important;
}
.aboutMeBackground {
  background: linear-gradient(
    to bottom,
    #000 0%,
    rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
  color: white;
}
.about-me-tab:hover {
  color: rgb(233, 209, 28) !important;
}
.about-me-tab {
  color: white;
}
.email-link-decoration {
  color: white;
}
.email-link-decoration:hover {
  color: rgb(233, 209, 28)!important;
}