.chatContainer {
  background: linear-gradient(
    to bottom,
    #000 0%,
    rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
  color: white;
  min-height: 82vh;
}
.chat-button {
  background-color: rgb(233, 209, 28) !important;
}
.chat-button:hover {
  background-color: rgb(252, 195, 7) !important;
}

#chat-username-date {
  height: 30rem;
  width: 100%;
  overflow-y: scroll;
  padding-right: 1rem;
  padding-left: 1rem;
}
