a.social {
  margin: 0 0.25rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-0.5rem);
  color: rgb(201, 180, 17);
}
a.facebook {
  color: rgba(238, 236, 236, 0.946);
}
a.instagram {
  color: rgba(238, 236, 236, 0.946);
}
a.flickr {
  color: rgba(238, 236, 236, 0.946);
}
.footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 60%, #000 100%);
}
.font-family {
    font-family: 'Montserrat Alternates', sans-serif; 
}
